
$dropdown-color: #21211D;
$background-color: #1A1A1A;
$accent-color: #009BE7;
$accent-color-2: lighten($background-color, 20%);

.react-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  .results-container {
    display: none;
    background: rgb(26, 26, 26);
    font-weight: bold;
    color: white;
    height: 300px;
    display: none;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: auto;
    resize: vertical;
    width: 100%;
    padding: 4px;
    width: 100%;
    &.show {
      display: block
    }
    .dropdown-heading {
      background: black;
      color: #787a81;
      padding: 7px 5px;
      cursor: default;
    }
  }

  .dropdown-item {
    font-weight: lighter;
    cursor: pointer;
    padding: 5px;
    &.selected {
      background-color: $accent-color;
    }
  }

  .search-box {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    .result-div {
      display: none;
      z-index: 1;
      position: absolute;
      padding: 0 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      //btn

      &.show {
        display: block;
      }
    }
    .input-box {
      display: none;
      position: absolute;
      width: 100%;
      background: transparent;
      color: #FFFFFF;
      font-size: inherit;
      border: none;
      padding: 0 25px 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      &.show {
        display: block;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .dropdown-icon {
    margin-left: auto;
    padding-right: 10px;
    color: #787a81;
    &:focus {
      outline: none;
    }
    .arrows {
      display: flex;
      i {
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        margin-bottom: 5px;
        &.arrow-down2 {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
  }
}